@import "./vaariables.scss";

body {
    background-color: $base-color;
}

.text-align-right {
  text-align: right;
}

.book-side {
  font-size: 11px;
  cursor: pointer;
  flex: 1 1;
  min-width: 270px;

  & .header, .row {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    text-transform: uppercase;

    & .header-col, .row-col {
      min-width: 20%;
      text-align: center;
    }

    & .text-align-right {
      text-align: right;
    }
  }
}

.books-container {
  display: flex;
  justify-content: space-between;
  text-align: right;
  min-height: 425px;
}

.book-bar-container {
  width: 100%;
  height: 0;
  overflow: visible;

  & svg {
    width: 100%;
    height: 408px;
    transform: scale(-1, 1);
    z-index: 0;
    pointer-events: none;
  }
}